<div class="row g-2">
  <div class="col-4">
    <div class="card-1">
        <h4 style="text-align: center;">Ticketing System</h4>
         <p class="para-1">A ticketing system is a software platform designed to manage and track customer support requests. It streamlines the process of resolving customer issues, making it easier for businesses to provide fast and effective support. With a ticketing system, customers can submit support requests through multiple channels, including email, phone, or a web portal. The requests are then organized and prioritized, allowing support teams to respond quickly and efficiently.</p>
    </div>
  </div>
  <div class="col-4">
    <div class="card-1">
      <h4 style="text-align:center;">Benefits of using a Ticketing System</h4>
      <p class="para-1">
       Improved efficiency: A ticketing system automates and streamlines the support process, reducing response times and improving overall customer satisfaction.
        Increased visibility: With all support requests in one place, it’s easy to track progress and prioritize the most pressing issues.
        Better organization: A ticketing system organizes customer requests into tickets, making it easier to manage and resolve customer issues.
        Enhanced collaboration: A ticketing system makes it easy for support teams to collaborate and share information, improving resolution times.
        Detailed reporting: A ticketing system provides detailed reports on customer support requests, making it easier to identify trends and improve the support process.
      </p>
    </div>
  </div>
  <div class="col-4">
    <div class="card-1">
      <h4 style="text-align:center;">Ticketing System Types</h4>
      <p class="para-1">There are different types of ticketing management systems that support incident management. Here are the two of them:

        Basic Help Desk Ticketing

        This includes basic help desk Ticketing System features and a streamlined customer support workflow. It enables customers or users to access the help desk, request a service, or report an incident. IT support agents can contact the customer and help them resolve the tracking issue. This software doesn't always have extra features like self-service, knowledge base support, or live chat.
        IT Service Desk Software
        The Service desk follows the ITIL framework, which focuses on providing IT services and support for users. This software includes a more robust and customizable set of features such as knowledge base access, live chat capabilities, data capture and analysis, real-time reporting, omnichannel support capabilities, and workflow automation.
      </p>   
    </div>
  </div>   
</div>
<div class="card-2">
  <h4 style="text-align:center;">What are common Ticketing Systems?</h4>
    <p class="para-2">Some of the most commonly used ticketing systems include:
      ITarian: A cloud-based ticketing system that automates ticket management and takes care of SLAs. Tickets are tracked, addressed, and reassigned to certain departments/organizations.
      Zendesk: A cloud-based customer service platform that offers both a ticketing system and live chat support.
      Freshdesk: A cloud-based customer support software that includes a ticketing system and knowledge base.
      Jira Service Desk: A service management tool developed by Atlassian, designed to help teams manage requests and incidents efficiently.
      Kayako: A customer service platform that provides a ticketing system, live chat, and call center capabilities.
      Helpshift: A customer support platform that offers a ticketing system, in-app support, and knowledge base features.
      Salesforce Service Cloud: A customer service platform that includes a ticketing system, as well as tools for case management and reporting.
    </p>


</div>