<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

<div class="marquee">
	<marquee><h3>Online Movie Ticket Booking System</h3></marquee>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col-6">

    <div >
    	<div class="card-footer">
      
        <h5 class="card-title", style="text-align: center;">Movies</h5>
        <p class="card-text", style="margin-left:3%;">Welcome to newly designed  website  movie  ticket booking  is  a  faster,  cleaner and  a  tad  more personal website,  specially designed to make your booking experience better. Log on, navigate and find out for yourselves and if time permits leave your valuable feedback..</p>
      
    	  <img src="<%= asset_path "back.jpg"%>" class="home-img1">
      </div>
    </div>
  </div>
  <div class="col-6">     
      <img src="<%= asset_path "front.jpg"%>" class="home-img2">
  </div>
</div>

