.marquee{
  width: 100%;
  justify-content: center;
}
.marquee h5{
  font-family: verdana;

}

.h1{
    text-align: center;
}
.head{
    text-align: center;
}

.movie-main{
  width: 400px;
  height: 298px;
  margin: 6px;
}

.movie-image{
  width: 385px;
  height: 220px;
  border-radius: 10px;
}

.movie-data{
  margin: 10px;
}

.show-img{
  width: 500px;
  margin-right:50px;
  border-radius: 10px 40px;
}

.lead{
  text-align: center;
}

.show-data{
  margin-top: 30px;
}
.lead{
  margin: 20px;
}
.button{
  text-align: center;
}
.auto-text{
  text-align: center;
  font-size: xx-large;
}
.add-button{
  text-align: center;
  margin-top: 10px;
}
.form-container{
  border: 1px solid black;
  margin-right: 400px;
  margin-left: 500px;
  border-radius: 50px 2px;
}
.form-img{
  margin-left: 45px;
}
.new-movie{
 text-align: center;
}
.container{
  margin-left: 80px;

}
.form-sub{
  margin-top: 10px;
  margin-bottom: 10px;
}
.home-img1{
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.home-img2{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.app-body{
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}
.card-1{
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10;

}
.para-1{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
}
.card-2{
  background-color: white;
  margin-left: 10px;
  margin-right: 10PX;
  border-radius: 10PX;
}
.para-2{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
}
/*.booking-form{
  text-align: center;
  border: 1px solid black;
  margin-right: 400px;
  margin-left: 500px;
  border-radius: 50px 2px;
}*/
.rows{
  margin-left: 400px;
  margin-right: 500px;
  border-radius: 10px;
  border:1px  solid black;
}
.rows1{
  margin-left: 400px;
  margin-right: 500px;
  border-radius: 10px;
  border:1px  solid black;
}
.theate-form{
  text-align: center;
  border: 1px solid black;
  margin-right: 400px;
  margin-left: 500px;
  border-radius: 50px 2px;
}
.create_mailer{
  text-align: center;
  border-radius: 1px solid black;

}
.search{
  margin-top: 0.5%;
  margin-bottom: 1%;
  margin-right: 6px;
}
.search_bar{
  border-radius: 20px;
}

.btn_left_pagination{
  position: absolute;
  left: 25px;
  top: 50%;
  border-radius: 50px 50px;
}

.btn_right_pagination{
  position: absolute;
  right: 25px;
  top: 50%;
  border-radius: 50px 50px;
}
.lead-1{
  height: 75px;
  width: 1350px;
  margin-top: 1%;
  border:1px  solid black;
  
}
.tag:hover{
  background-color: blue;
  border-radius: 8px;
}




/*  Seats selections*/




.movie-container {
  background-color: #242333;
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', 'sans-serif';
}

.seat {
  background-color: #444451;
  height: 19px;
  width: 15px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row {
  display: flex;
}

.movie-container1 {
  margin: 20px 0;
}

.movie-container1 select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

showcase li small {
  margin-left: 10px;
}

.screen {
  background-color: #fff;
  text-color: red;
  height: 80px;
  width: 90%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}
.head {
  text-align: center;
  color: blue;
  font-size: 13px;
}

.Container {
  perspective: 1000px;
  margin-bottom: 30px;
}

p.text {
  margin: 5px 0;
}
p.text span {
  color: #6feaf6;
}


